@import stbi.ExperimentResult
@(title: String = "Result")(list: java.util.List[ExperimentResult])

    @main(title = title) {
        @for(p <- list) {
            Query: @p.getQuery() <br/>
            Precision: @p.getPrecision <br/>
            Recall: @p.getRecall <br/>
            <table class="display example" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Similarity</th>
                        <th>Document ID</th>
                        <th>Document Title</th>
                    </tr>
                </thead>


                <tbody>
                @for(detail <- p.getExperimentalDetailResultList) {
                    <tr>
                        <td>@detail.getRank</td>
                        <td>@detail.getSimilarity</td>
                        <td>@detail.getDocumentId</td>
                        <td>@detail.getDocumentTitle</td>
                    </tr>
                }
                </tbody>
            </table>
            <br/>
        }
    } {
        <script type="text/javascript">
        $(document).ready(function() {
        $('.example').DataTable({
        "paging": true,
        "ordering": true,
        "info": true,
        "order": [[ 0, "desc" ]]
        });
        } );
        </script>
    }