@import formstubs.ExperimentalRetrievalStub
@import helper.myPlainFieldConstructor
@import views.html.helper.FieldConstructor
@(title: String)(experimentalRetrievalForm: Form[ExperimentalRetrievalStub])
@implicitField = @{ FieldConstructor(myPlainFieldConstructor.render) }

@main(title = title) {
    @helper.form(action = routes.Application.performExperiment(), 'id -> "myForm") {
        <div class="row form-horizontal">
            @helper.inputText(experimentalRetrievalForm("queryLocation"), '_label -> "Query File")
            @helper.inputText(experimentalRetrievalForm("relevantJudgementLocation"), '_label -> "Relevant Judgement")
        </div>
        <input type='submit' name='submit' value='Perform Experiment' class="btn btn-default" />
    }
    @helper.form(action = routes.Application.postExperimental(), 'id -> "myForm") {
        <div class="row">
            <div class="col-xs-12">
                <label class="control-label" for="query">Query</label>
                <div class="form-horizontal">
                    <div class="form-group">
                    @helper.inputRadioGroup(experimentalRetrievalForm("tf"),
                        options = views.html.helper.options("RAW_TF" -> "Raw", "BINARY_TF" -> "Binary", "AUGMENTED_TF" -> "Augmented", "LOG_TF" -> "Logarithmic"))
                    </div>
                    <div class="form-group">
                    @helper.inputRadioGroup(experimentalRetrievalForm("useIdf"),
                        options = views.html.helper.options("false" -> "No", "true" -> "Yes"))
                    </div>
                    <div class="form-group">
                    @helper.inputRadioGroup(experimentalRetrievalForm("useNormalization"),
                        options = views.html.helper.options("false" -> "No", "true" -> "Yes"))
                    </div>
                    <div class="form-group">
                    @helper.inputRadioGroup(experimentalRetrievalForm("useStemmer"),
                        options = views.html.helper.options("false" -> "No", "true" -> "Yes"))
                    </div>
                </div>
            </div>

        </div>
        <input type='submit' name='submit' value='Enter' class="btn btn-default" />
    }
} {

}