@import formstubs.IndexingDocumentStub
@import helper.myPlainFieldConstructor
@import views.html.helper.FieldConstructor
@(title: String)(indexingDocumentForm:Form[IndexingDocumentStub])
@implicitField = @{ FieldConstructor(myPlainFieldConstructor.render) }

@main(title = title){
    @helper.form(action = routes.Application.postIndexingDocument(), 'id -> "myForm") {
            <div class="row form-horizontal">
                @helper.inputText(indexingDocumentForm("documentLocation"), '_label -> "Document Location")
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label" for="document">Document</label>
                    <div class="form-horizontal">
                        <div class="form-group">
                        @helper.inputRadioGroup(indexingDocumentForm("tf"),
                            options = views.html.helper.options("RAW_TF"->"Raw", "BINARY_TF"->"Binary", "AUGMENTED_TF"->"Augmented", "LOG_TF"->"Logarithmic"))
                        </div>
                        <div class="form-group">
                        @helper.inputRadioGroup(indexingDocumentForm("useIdf"),
                            options = views.html.helper.options("false"->"No","true"->"Yes"))
                        </div>
                        <div class="form-group">
                        @helper.inputRadioGroup(indexingDocumentForm("useNormalization"),
                            options = views.html.helper.options("false"->"No","true"->"Yes"))
                        </div>
                        <div class="form-group">
                        @helper.inputRadioGroup(indexingDocumentForm("useStemmer"),
                            options = views.html.helper.options("false"->"No","true"->"Yes"))
                        </div>
                    </div>
                </div>

            </div>
        <input type='submit' name='mysubmit' value='Create Index' class="btn btn-default" />
    }
} {

}