@import formstubs.InteractiveRetrievalStub
@import helper.myPlainFieldConstructor
@import views.html.helper.FieldConstructor
@(title:String)(interactiveRetrievalForm:Form[InteractiveRetrievalStub])
@implicitField = @{ FieldConstructor(myPlainFieldConstructor.render) }

@main(title = title) {

    @helper.form(action = routes.Application.search(), 'id -> "myForm") {
        <div class="row form-horizontal">
            @helper.inputText(interactiveRetrievalForm("query"), '_label -> "Query")
        </div>
        <input type='submit' value='Search' class="btn btn-default" />
    }

    @helper.form(action = routes.Application.postInteractive(), 'id -> "myForm") {
        <div class="row">
            <div class="col-xs-12">
                <label class="control-label" for="search_settings">Search Settings</label>
                <div class="form-horizontal">
                    <div class="form-group">
                    @helper.inputRadioGroup(interactiveRetrievalForm("tf"),
                        options = views.html.helper.options("RAW_TF"->"Raw", "BINARY_TF"->"Binary", "AUGMENTED_TF"->"Augmented", "LOG_TF"->"Logarithmic"))
                    </div>
                    <div class="form-group">
                    @helper.inputRadioGroup(interactiveRetrievalForm("useIdf"),
                        options = views.html.helper.options("false"->"No","true"->"Yes"))
                    </div>
                    <div class="form-group">
                    @helper.inputRadioGroup(interactiveRetrievalForm("useNormalization"),
                        options = views.html.helper.options("false"->"No","true"->"Yes"))
                    </div>
                    <div class="form-group">
                    @helper.inputRadioGroup(interactiveRetrievalForm("useStemmer"),
                        options = views.html.helper.options("false"->"No","true"->"Yes"))
                    </div>
                    <div class="form-group">
                        @helper.inputRadioGroup(interactiveRetrievalForm("relevanceFeedback"),
                            options = views.html.helper.options("NO_RELEVANCE_FEEDBACK" -> "No Relevance Feedback", "ROCCHIO" -> "Rocchio", "IDE_REGULER" -> "Ide Reguler","IDE_DEC_HI" -> "Ide Dec Hi", "PSEUDO_RELEVANCE_FEEDBACK" -> "Pseudo Relevance Feedback"))
                    </div>
                    <div class="form-group">
                    @helper.inputRadioGroup(interactiveRetrievalForm("useSameDocumentCollection"),
                        options = views.html.helper.options("false" -> "No", "true" -> "Yes"))
                    </div>
                    <div class="form-group">
                    @helper.inputRadioGroup(interactiveRetrievalForm("useQueryExpansion"),
                        options = views.html.helper.options("false" -> "No", "true" -> "Yes"))
                    </div>
                    <div class="form-group">
                    @helper.input(interactiveRetrievalForm("S")) { (id, name, value, args) =>
                        <input type="number" value="@value" name="@name" id="@id" @toHtmlArgs(args)>
                    }
                    </div>
                    <div class="form-group">
                    @helper.input(interactiveRetrievalForm("N")) { (id, name, value, args) =>
                        <input type="number" value="@value" name="@name" id="@id" @toHtmlArgs(args)>
                    }
                    </div>
                </div>
            </div>

        </div>
        <input type='submit' name='submit' value='Save Settings' class="btn btn-default" />
    }
} {

}