@(title: String)(content: Html)(script:Html)
@successMessage = @{flash.get("success")}
@errorMessage = @{flash.get("error")}
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>STBI</title>
        <link href="@routes.Assets.at("bower_components/bootstrap/dist/css/bootstrap.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/simple-sidebar.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/custom.css")" rel="stylesheet">
        <link href="@routes.Assets.at("bower_components/datatables/media/css/jquery.dataTables.css")" rel="stylesheet">

        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="@routes.Application.index()">
                            Document Searcher
                        </a>
                    </li>
                    <li>
                        <a href="@routes.Application.index()">Indexing Document</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Retrieval Window<b class="caret"></b></a>
                        <ul class="menudropdown dropdown-menu">
                            <li><a href="@routes.Application.experimental()">Experimental</a></li>
                            <li><a href="@routes.Application.interactive()">Interactive</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>@title</h1>
                            @if(successMessage != null) {
                                <div class="alert alert-success" role="alert"> @successMessage
                                </div>
                            }
                            @if(errorMessage != null) {
                                <div class="alert alert-danger" role="alert"> @errorMessage
                                </div>
                            }
                            @content
                            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Close Side Bar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="@routes.Assets.at("bower_components/jquery/dist/jquery.js")"></script>
        <script src="@routes.Assets.at("bower_components/bootstrap/dist/js/bootstrap.js")"></script>
        <script src="@routes.Assets.at("bower_components/datatables/media/js/jquery.dataTables.min.js")"></script>
        <script>
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        </script>
        @script
    </body>

</html>

